<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{subject}}</title>
</head>

<body>
    <div style="text-align: center; padding: 20px;">
        <h1>Hello, {{name}}!</h1>
        <p>Thank you for volunteering with us! We really appreciate your help!</p>
        <p>Below is the link to the certification of participation</p>
        <a href="{{cert}}">Certificate of Participation</a>
    </div>
</body>

</html>